[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = git@github.com:janraasch/hugo-bearblog.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
